@import url(http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
html,body{width:100%;height:100%;padding:0;margin:0;}
.content{min-height:78%;_height:100%;position:relative;margin-bottom: -30px;}
footer, .bg-lightgray{text-align:center;width:100%;height: 30px;}
